body {
    font-family: "Calibri", sans-serif;
    font-size: 20px;
}

.banniere {
  color:rgb(0, 0, 0);
}

.banniere-img {
  width: 100%;
  height: 100%;
}
  
.txt_banniere {
  color: white;
  position: absolute;
  top: 45%; /* Ajuster la position verticale */
  left: 50%; /* Ajuster la position horizontale */
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optionnel : ajouter une ombre au texte pour le faire ressortir */
}

.auteur_banniere {
  padding: 5px; /* Espace intérieur du texte */
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 2%; /* Ajustez la distance entre le texte et le bas de l'image */
  right: 30px; /* Ajustez la distance entre le texte et la droite de l'image */
}

.lien_insta {
  color: #ffa200;
  font-size: 20px;
  font-weight: bold;
}

.lien_insta:hover {
  color :rgb(70, 0, 170);
}

a {
 color :rgb(70, 0, 170);
 text-decoration: none;
}

a:hover {
  color: #ffa200; /* Couleur du lien lors du survol */
}

.un {
  color :rgb(70, 0, 170);
  padding: 5px; /* Espace intérieur du texte */
  font-size: 30px;
  font-weight: bold;
}

.deux {
  float: left;
  color :rgb(70, 0, 170);
  padding: 5px; /* Espace intérieur du texte */
  font-size:20px;
  font-weight: bold;
  margin-top: 1%;
}

.présentation {
  float: right;
  color :rgb(0, 0, 0);
  font-size: 15px;
}

hr {
  border: none; /* Enlever la bordure par défaut */
  border-top: 5px solid #ffa200; /* Ajouter une bordure horizontale de 2px avec une couleur noire */
  margin: -2%; /* Ajouter une marge en haut et en bas de la ligne */
  margin-left: 2%;
  margin-right: 50%;
}